<div class="page-header">
    <h1>Sala <small>organize as salas onde será ministradas as palestras</small></h1>
</div>

<form name="salaForm" ng-submit="cadastrar()" novalidate>
    <fieldset>
        <legend>Nova Sala</legend>
        <div class="form-group " ng-class="{ 'has-error' : salaForm.nome.$invalid && !salaForm.nome.$pristine }">
            <label>Nome</label><br />
            <input type="text" id="nome" name="nome" ng-model="sala.Nome" placeholder="Nome da Sala" ng-minlength="2" ng-maxlength="25" required>
            <p ng-show="salaForm.nome.$error.minlength" class="help-block">Nome é muito curto.</p>
            <p ng-show="salaForm.nome.$error.maxlength" class="help-block">Nome é muito longo.</p>
        </div>


        
        <tt>$valid = {{salaForm.$valid}}</tt><br>
        

        <hr />
        <p>
            <input type="hidden" id="id" name="id" ng-model="sala.Id" />
            <button class="btn btn-sm btn-info" ng-disabled="salaForm.$invalid">Cadastrar</button>
            <a class="btn" href="#/Sala">Cancelar</a>
        </p>
    </fieldset>
</form>

