<div class="page-header">
    <h1>Trilha <small>organize as trilhas do seu evento</small></h1>
</div>

<form name="trilhaForm" ng-submit="cadastrar()" novalidate>
    <fieldset>
        <legend>Nova Trilha</legend>
        <div class="form-group " ng-class="{ 'has-error' : trilhaForm.nome.$invalid && !trilhaForm.nome.$pristine }">
            <label>Nome</label><br />
            <input type="text" id="nome" name="nome" ng-model="trilha.Nome" placeholder="Nome da Trilha" ng-minlength="2" ng-maxlength="25" required>
            <p ng-show="trilhaForm.nome.$error.minlength" class="help-block">Nome é muito curto.</p>
            <p ng-show="trilhaForm.nome.$error.maxlength" class="help-block">Nome é muito longo.</p>
        </div>


        
        <tt>$valid = {{salaForm.$valid}}</tt><br>
        

        <hr />
        <p>
            <input type="hidden" id="id" name="id" ng-model="trilha.Id" />
            <button class="btn btn-sm btn-info" ng-disabled="trilhaForm.$invalid">Cadastrar</button>
            <a class="btn" href="#/Trilha">Cancelar</a>
        </p>
    </fieldset>
</form>

